body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.dial {
  width: 500px;
}
 

.App {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto; 
}

.container {
  text-align: center;
  margin-top: 20px;
}

.error {
  color:red;
  margin-top: 10px;
}

.nav > select {
  width: 500px;
  height: 40px;
  border-radius: 5px;
}